<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
        <div class="padding-nav-card">
          <div class="card-accep-rejc">
            <h2>Solicitud Confirmada</h2>
            <div class="mb-4 text-center">
              <img class="avatar-acep-rejec" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/arthur-littm" /> <%# aqui va la imagen del perfil %>
            </div>

            <div class="mb-4 text-center">
              <% @users.each do |user| %>
                <p><%= user.first_name %></p>
                <p><%= user.last_name %></p>
              <% end %>
            </div>
            <div class="mb-4 text-center">
              <% @services.each do |s| %>
                <h3><%= s.category %></h3> <%# aqui va el nombre de la categoría %>
              <% end %>
            </div>
            <div class="mb-4 text-center">
              <p><% 3.times do |i| %>
                <span class="fas fa-star star-yellow"></span>
              <% end %></p> <%# aqui va la calificación %>
            </div>
            <div class="mb-4 text-center">
               <img src="images/accepted.jpg"><%# aqui va la imagen del perfil %>
            </div>

          </div>
        </div>
    </div>
  </div>
</div>