<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_url('banner.png') %>)">
  <div class="container">
    <h1>¿Buscas servicios de reparación?</h1>
    <p>Conecta rápidamente con un profesional del área de Gasfitería y Electricidad </p>
  </div>
</div>

