<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<button class="btn-blue-big"> ENVIAR </button>
<button class="btn-lightblue-big"> enviar </button>
<button class="btn-blue-small"> enviar </button>
