<div class="container">
  <div class="row justify-center">
    <div class="col-md-6">
     <div class="padding-nav-card">  
        <div class="list-card">
            <div class="mb-4 text-center"> 
             <h2>Listado de Clientes</h2>  <%# aqui va el listado de personas%>
            </div> 
            <div class="mb-4 text-center"> 
              <img class="avatar-list" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/arthur-littm" /> <%# aqui va la imagen del perfil %>
              <h3>Cliente 1</h3>
              <button class="btn-blue-small">Ver Perfil</button>
            </div>
            <div class="mb-4 text-center"> 
              <img class="avatar-list" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/arthur-littm" /> <%# aqui va la imagen del perfil %>
              <h3>Cliente 2</h3>
              <button class="btn-blue-small">Ver Perfil</button>
            </div>
            <div class="mb-4 text-center"> 
              <img class="avatar-list" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/arthur-littm" /> <%# aqui va la imagen del perfil %>
              <h3>Cliente 3</h3>
              <button class="btn-blue-small">Ver Perfil</button>
            </div>
        </div>
      </div>
    </div>

    <div class="col-md-6 justify-content-center">
     <div class="container">
        <div class="row justify-content-center">
           <div> 
          <%# aqui va mapa %>  
        </div>
      </div>
    </div>

  </div>
</div>
