<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6 justify-content-center">
        <div class="card">
          <% @services do |s| %>
            <h3><%= s.category %></h3> <%# aqui va el nombre de la categoría %>
          <% end %>
          <img src="" alt=""> <%# aqui va la imagen del perfil %>
          <p></p> <%# aqui va la calificación %>
          <% @users do |u| %>
            <p><%= u.first_name u.last_name %></p>
            <p><%= u.certification %></p>
            <p><%= u.biography %></p>
          <% end %>
          <button class="btn-lightblue-big">VOLVER</button>
          <button class="btn-blue-big">ENVIAR SOLICITUD</button>
        </div>
    </div>
    <div class="col-md-6 justify-content-center">        
    </div>
  </div>
</div>