<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-12 justify-content-center">
        <div class="card justify-content-center">
            <h3>Solicitud Rechazada</h3>

            <img src="" alt="">

            <% @users.each do |user| %>
                <p><%= user.first_name %></p>
                <p><%= user.last_name %></p>
            <% end %>

            <% @services.each do |s| %>
                <h3><%= s.category %></h3> <%# aqui va el nombre de la categoría %>
            <% end %>            
              
            <button class="btn-blue-big">VOLVER</button>            
        </div>
    </div>
  </div>
</div>