<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
     <div class="padding-nav-card">  
        <div class="card-profile">
          <h2>Nombre del Cliente</h2>
            <div class="mb-4 text-center">
              <img class="avatar-large" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/arthur-littm" />
            </div>
            <div class="mb-4 text-center">
              <i class="fas fa-star star-yellow"></i>
            </div>
            <div class="mb-4 text-center">
              <h3>Problema</h3>
              <p> problema </p>
            </div>
            <div class="mb-4 text-center">
              <h3>Problema</h3>
              <p> problema  </p>
            </div>  
        </div>
      </div>
    </div>

    <div class="col-md-6 justify-content-center">
     <div class="container">
        <div class="row justify-content-center">
          <div class="col-sm-8 text-center">

          </div>
        </div>
      </div>
    </div>

  </div>
</div>
