<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
     <div class="padding-nav-card">  
        <div class="card-profile">
          <h2>Nombre del Cliente</h2>  <%# aqui va el nombre de la persona %>
            <div class="mb-4 text-center"> 
              <img class="avatar-large-c" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/arthur-littm" /> <%# aqui va la imagen del perfil %>
            </div>
            <div class="mb-4 text-center">
              <i class="fas fa-star star-yellow"></i> <%# la calificacion %>
            </div>
            <div class="mb-4 text-center"><%# problema general %>
              <h3>Problema General</h3>
              <p> problema </p>
            </div>
            <div class="mb-4 text-center"><%# valor del servicio %>
              <h3>Valor del Servicio</h3>
              <p>$$$$</p>
            </div> 
            <div class="btn-center-padding">  
            <button class="btn-blue-big">Volver</button>
            </div>
        </div>
      </div>
    </div>

    <div class="col-md-6 justify-content-center">
     <div class="container">
        <div class="row justify-content-center">
          <div class="col-sm-8 text-center">
          <%# aqui va mapa %>
             <div class="btn-center">
              <button class="btn-lightblue-big">Rechazar</button>
              <button class="btn-blue-big">Confirmar</button>
            </div>

          </div>
        </div>
      </div>
    </div>

  </div>
</div>
