<div class="container">
  <div class="row justify-content-center" style="width: 100%; height: 400px;">
    <div class="col-md-5">
      <div class="padding-nav-card">
        <div class="sign-up">
          <div class="sign-up--images">
            <a href="/customers/sign_up"><img class="avatar-round" alt="customer" src="/assets/customer.png" /></a>
          </div>
          <div class="sign-up--text">
            <%= link_to "Registrate Como Cliente", new_customer_registration_path %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="padding-nav-card">
        <div class="sign-up">
          <div class="sign-up--images">
            <a href="/professionals/sign_up"><img class="avatar-round" alt="professional" src="/assets/professional.png" /></a>
          </div>
          <div class="sign-up--text">
            <%= link_to "Registrate Como Profesional", new_professional_registration_path %>
          </div> 
        </div>
      </div>
    </div>
  </div>
</div>