<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6 justify-content-center">
        <div class="card">
          <h3>Esperando respuesta</h3>
        </div>
    </div>
    <div class="col-md-6 justify-content-center">
      <%# aqui va el mapa %>
    </div>
  </div>
</div>