.btn-blue-big {
    background-color: #31326F;
    color: #FFFFFF;
    width: 10em;
    height: 3em;
    border-radius: 0.625em;
    border: none;
    font-size: 1em;
    font-weight: 400;
}
.btn-blue-big:hover {
    background-color: #2F1E95;
}
.btn-lightblue-big {
    background-color: #9DDFD3;
    color: #FFFFFF;
    width: 10em;
    height: 3em;
    border-radius: 0.625em;
    border: none;
    font-size: 1em;
    font-weight: 400;
}
.btn-lightblue-big:hover {
    background-color: #68DBC6;
}
.btn-blue-small {
    background-color: #31326F;
    color: #FFFFFF;
    width: 10em;
    height: 2.25em;
    border-radius: 0.625em;
    border: none;
    font-size: 0.875em;
    font-weight: 400;
}
.btn-blue-small:hover {
    background-color: #2F1E95;
}
.btn-position {
    display: block;
    margin-left: 2%;
    margin-bottom: 10%;
    margin-top: 5%;
}
.card-form>button>a {
    color: #f9f9f9;
    text-decoration: none;
    background-color: transparent;
}
.card-form>button>a:hover {
    background-color: #2F1E95;
    text-decoration: none;
    color: white;
}
