.footer {
  background: #31326F;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: #FFC93C;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: #FFC93C;
  opacity: 0.60;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}
